<div id="porfolioShowContainer">
<div class="nav-portfolio">
  <button><%= link_to "ALL", :portfolios_all %></button>
  <button><%= link_to "NEW", :new_portfolio %></button>
</div>
  <h1>Edit porfolio stuff:</h1>
  <div class="form">
    <%= form_for(@portfolio) do |f| %>
        <%= f.label "Name of Project (show):" %>
        <%= f.text_area :name %><br>
        <%= f.label "Type of Project: Marketing or Web Development (no show)" %>
        <%= f.text_area :topic %><br>
        <%= f.label "Product of Project (show):" %>
        <%= f.text_area :product %><br>
        <%= f.label "Description of Project (show):" %>
        <%= f.text_area :description %><br>
        <%= f.label "Image for Project (show):" %>
        <%= f.text_area :image_url %><br>
        <%= f.submit %>
    <% end %>
  </div>
</div>
